<div class="container">
    <br>
    <button type="button" class="btn btn-primary" (click)="crearNuevaListaDeReproducciones()" *ngIf="habilitarTabla" >
        Crear nueva lista de reproducciones</button>
    <button type="button" class="btn btn-secondary" (click)="volver()" *ngIf="habilitarFormulario">Volver a la lista de reproducciones</button>

    <hr>
    <table class="table table-hover" *ngIf="habilitarTabla" >
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Canciones</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reproduccion of reproducciones" >
            <td>{{reproduccion.nombre}}</td>
            <td>{{reproduccion.descripcion}}</td>
            <td><ul *ngFor="let cancion of reproduccion.canciones" >
                    <li>{{cancion.titulo}}</li>
                </ul>
            </td>
            <td><button type="button" class="btn btn-danger" (click)="eliminarLista(reproduccion)"><i class="bi bi-trash"></i></button></td>
          </tr>
        </tbody>
      </table>


      <div class="card" *ngIf="habilitarFormulario">
        <div class="card-header">
            <h3>Crear Lista De Reproducción</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                  <label  class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="listaDeReproduccion.nombre"
                   aria-describedby="emailHelp" name="nombre">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="listaDeReproduccion.descripcion"
                    aria-describedby="emailHelp" name="descripcion">
                </div>
                <button type="submit" class="btn btn-success" (click)="newListaReproduccion()">Crear</button>
              </form>
        </div>
      </div>

</div>